{% extends 'base_flex.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-panel">
          <span class="card-title">Anmelden</span>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn usedit" type="submit">Login</button>
            <a href="{% url 'password_reset' %}" type="button" class="btn right">Passwort vergessen</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
