{% extends 'base.html' %}

{% block title %}Neues Passwort wurde gesetzt{% endblock %}

{% block content %}
<h1>Dein neues Passwort wurde gesetzt.</h1>
<p>Du kannst dich jetzt damit anmelden.<a href="{% url 'login' %}">Jetzt anmelden</a>.</p>
{% endblock %}
