{% extends 'base.html' %}

{% block title %}Setze dein neues Passwort{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Setze dein neues Passwort</h1>
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn usedit" type="submit" value="Neues Passwort setzen">
</form>
{% endblock %}
