{% extends 'base.html' %}

{% block title %}Passwort ändern{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <p>Bitte gebe aus Sicherheitsgründen erst dein altes Passwort ein und dann zweimal dein neues.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
  <button class="btn usedit" type="submit">Passwort ändern</button>
  <button class="btn" type="reset">abbrechen</button>
  </form>
</div>
{% endblock %}
