{% extends 'base.html' %}

{% block title %}E-Mail gesendet{% endblock %}

{% block content %}
  <h1>Schaue in deinen Posteingang.</h1>
  <p>Überprüfe bitte ggf. auch deinen Spam-Ordner.</p>
  <p>Wir haben dir in einer E-Mail beschrieben, wie du dir ein neues Passwort erstellen kannst. Du solltest die E-Mail in Kürze bekommen.</p>
{% endblock %}
