{% extends 'base_flex.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-panel">
          <span class="card-title">Passwort vergessen?</span>
          <p>Bitte gebe die Email-Adresse ein, die du hier bei der
             Registrierung verwendet hattest.</p>
          <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn usedit" type="submit" value="Passwort zurücksetzen">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

