/*
collectives.custom-style.css - general custom css styles
Copyright (C) 2020 >make Utopia_

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/static/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/static/icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(/static/icons/MaterialIcons-Regular.woff) format('woff'),
       url(/static/icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* TYPO */
h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
}
@media screen and (max-width: 867px) {
	h1 {
		font-size: 42px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 21px;
	}
}
@media screen and (max-width: 567px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
}
.flex-wrapper {
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    flex-direction: column;
}
.main-flex {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
header {
    z-index: 1001!important;
}
main {
    flex: 1 0 auto;
	word-wrap: break-word;
	overflow-wrap: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;

    -webkit-hyphenate-character: auto;
    -moz-hyphenate-character: auto;
    hyphenate-character: auto;
}
/* NAV */
nav ul a, nav a, a {
	color: #ffab40;
}
a:hover {
	color: #ffd8a6;
}
nav .container {
  width: 90%!important;
}
nav .brand-logo {
    font-size: 1.5rem;
}
.side-nav {
    background-color: #546e7a;
}
.side-nav li>a {
    color: #ffab40;
}
.navbar-content {
    background-color: #546e7a;
}
.navbar-content li>a, .navbar-content li>span {
    color: #ffab40;
}
#sidenav-overlay {
    z-index: 996!important;
}
@media only screen and (min-width: 601px) {
    .navbar-content {
        margin-top: 64px;
    }
}
/* BUTTONS */
.btn {
	color: #000;
	background-color: #ffab40;
}
.btn:hover, .btn:focus, .btn:active {
	color: #546e7a;
	background-color: #ffd8a6;
}
.usedit {
	color: #fff;
	background-color: #0d5eff;
}
.usedit:hover, .usedit:focus, .usedit:active {
	color: #fff;
	background-color: #3a9aff;
}
.usedanger {
	color: #fff;
	background-color: #ff3a1e;
}
.usedanger:hover, .usedanger:focus, .usedanger:active {
	color: #fff;
	background-color: #ff674e;
}
/* HERO */
.hero-image {
	min-height: 350px;
}
@media only screen and (min-width: 320px) {
    .hero-image {
        background-image: url('/static/img/main_hero_460.jpg');
    }
}

@media only screen and (min-width: 460px) {
    .hero-image {
        background-image: url('/static/img/main_hero_720.jpg');
    }
}

@media only screen and (min-width: 720px) {
    .hero-image {
        background-image: url('/static/img/main_hero_960.jpg');
    }
}

@media only screen and (min-width: 980px) {
    .hero-image {
        background-image: url('/static/img/main_hero_1240.jpg');
    }
}

@media only screen and (min-width: 1240px) {
    .hero-image {
        background-image: url('/static/img/main_hero_1500.jpg');
    }
}

@media only screen and (min-width: 1500px) {
    .hero-image {
        background-image: url('/static/img/main_hero_1760.jpg');
    }
}

@media only screen and (min-width: 1760px) {
    .hero-image {
        background-image: url('/static/img/main_hero_1900.jpg');
    }
}

.hero-image, .hero-single-image {
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: center;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 0px;
}
.hero-headline {
	position: absolute;
	top: 50%;
	left: 50%;
    width: 100%;
	transform: translate(-50%, -50%);
    margin: 0;
}
/* SINGLE COLLECTIVE */
.hero-single-headline {
    margin-top: 15px;
}
.drop-shadow {	
    text-shadow: 0px 1px 2px #000;
}
.collective-link {
	text-transform: none;
	margin: 15px 10px;
}
.single-logo {
	max-height: 210px;
	margin: 30px auto;
} 
.hero-single-image .single-logo img {
	max-height: 210px;
	max-width: 280px;
}
@media screen and (max-width: 867px) {
	.hero-image {
		min-height: 400px;
	}
	.hero-single-image .single-logo img {
		max-height: 180px;
		max-width: 260px;
		margin: 30px auto;
	} 
}
@media screen and (max-width: 600px) {
	.hero-image {
		min-height: 360px;
	}
	.hero-single-image .single-logo img {
		max-height: 160px;
		max-width: 240px;
		margin: 30px auto;
	}
}
.last-edited {
	margin-top: 30px;
	font-size: 12px;
}
.branche-alle {
	color: #ffab40;
}
/* LISTING */
.card .row	{
	margin: 0;
}
.card .card-content {
    padding: 0px 24px;
}
.card .card-action {
	border: 0;
}
.card .card-action a {
	display: block;
	height: 30px;
	width: 100%;
}
.row .col .card-logo {
    margin: 1.78rem 0 1.424rem 0;
	padding: 24px;
}
.row .col .card-logo img {
	height: auto;
	width: 100%;
	max-width: 120px;
}
.material-icons {
	vertical-align: bottom;
}
.unpublished-collective {
	width: 100%;
    display: block;
    background-color: #777;
    color: #fff;
    padding: 20px;
    margin: 0;
}
.card .unpublished-collective {
	width: calc(100% + 1.5rem);
    margin: 0 -.75rem;
}
@media screen and (max-width: 600px) {
	.row .col .card-logo {
	    margin-bottom: 0;
		padding-bottom: 0;
	}
	.row .col .card-logo img {
		width: 80px;
	}
}
/* FORM */
#cke_id_description, .django-ckeditor-widget {
	width: 100%!important;
}
.form-full-width {
	width: 100%;
	text-align: right;
}
.form-full-width button {
	margin-left: 15px;
	margin-right: 15px;
}
.publish-box {
	width: 100%;
	border: 1px solid #0d5eff;
}
/* materialize checkbox */
[type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}
[type="checkbox"]:checked+label:before {
    border-right: 2px solid #0d5eff;
    border-bottom: 2px solid #0d5eff;
}
.full-width {
	width: 100%;
}

.errorlist {
    background-color: #E57373;
    padding: 5px 10px !important;
}

.dropdown-headline {
    color: #ffab40 !important;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 22px;
    padding: 10px;
    cursor: default !important;
}

.dropdown-emphazised {
    font-weight: bold;
}

.sticky-filterbox {
    position: sticky;
    width: 100%;
    z-index: 900;
    background-color: white;
}

.filterrow {
    margin-bottom: 0px !important;
}

button.dropdown-item {
  color: #ffab40;
  background: transparent;
  border: none;
  font-size: 16px;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.override-material ul {
  list-style-type: initial;
  padding-inline-start: 40px;
}
.override-material ul > li {
  list-style-type: inherit;
}
.addressform {
  border: 1px dotted gray;
  border-radius: 0.5em;
  padding:1em;
  margin:0.5em;
}
.addressform [type="checkbox"]:not(:checked), .addressform [type="checkbox"]:checked {
    position: relative;
    height: 1em;
    width: 1em;
    opacity: 1;
    pointer-events: auto;
}
