/*
collectives.custom-collectives-style.css - custom css styles for collectives
Copyright (C) 2020 >make Utopia_

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

/* NAV */
nav ul a, nav a, a {
	color: #ffab40;
}
a:hover {
	color: #ffd8a6;
}
.side-nav {
    background-color: #546e7a;
}
.side-nav li>a {
    color: #ffab40;
}
.navbar-content {
    background-color: #546e7a;
}
.navbar-content li>a, .navbar-content li>span {
    color: #ffab40;
}
/* BUTTONS */
.btn {
	color: #000;
	background-color: #ffab40;
}
.btn:hover, .btn:focus, .btn:active {
	color: #546e7a;
	background-color: #ffd8a6;
}
.usedit {
	color: #fff;
	background-color: #0d5eff;
}
.usedit:hover, .usedit:focus, .usedit:active {
	color: #fff;
	background-color: #3a9aff;
}
.usedanger {
	color: #fff;
	background-color: #ff3a1e;
}
.usedanger:hover, .usedanger:focus, .usedanger:active {
	color: #fff;
	background-color: #ff674e;
}
.branche-alle {
	color: #ffab40;
}
.infobox-colored {
    background-color: #546e7a;
}
.no-content-box {
	background-color: #546e7a;
}
