{% extends 'base.html' %}

{% block content %}
<div class="hero-image">
  <h1 class="hero-headline white-text drop-shadow">Verzeichnis von Kollektivbetrieben</h1>
</div>
<div class="container">
  <h2>Hier findest Du Informationen über Kollektivbetriebe</h2>
  <p>Aber was ist eigentlich ein Kollektivbetrieb? Was unterscheidet
     ihn von einer 'normalen', kapitalistischen Firma?
  </p>
  <p>Der erste wesentliche Punkt ist, dass in einem Kollektivbetrieb
     <strong>Entscheidungen gemeinsam getroffen</strong> werden, d.h. dass alle
     Kollektivmitglieder an allen wichtigen betrieblichen Entscheidungen
     gleichberechtigt beteiligt sind. Und das ist normalerweise nur der
     Fall, wenn der Betrieb auch allen gemeinsam und zu gleichen Teilen
     gehört.
  </p>
  <p>Der zweite wichtige Punkt ist der Zweck des Unternehmens. Ein
     Kollektivbetrieb sollte nicht ausschließlich oder in erster Linie das
     individuelle wirtschaftliche Wohl der Kollektivmitglieder verfolgen.
     Sein primäres Ziel ist die Bereitstellung gesellschaftlich nützlicher
     Produkte und Dienstleistungen, d.h. er ist <strong>nicht profitorientiert,
     sondern nutzenorientiert</strong> und verfolgt damit eine ökonomische
     Perspektive über den Kapitalismus hinaus. Die wirtschaftliche
     Existenzsicherung seiner Mitglieder ist dafür jedoch eine wichtige
     Voraussetzung.
  </p>
  <p>Diese allgemeinen Leitlinien müssen je nach Branche und Tätigkeit des
     Betriebs unterschiedlich konkretisiert werden. Einen ausführlicheren
     "Kriterienkatalog" mit einer Diskussion diverser Detailfragen findest
     du z.B. im Positionspapier der FAU zu Kollektivbetrieben auf der
     <a href="https://hamburg.fau.org/wp-content/uploads/2011/05/Positionspapier-Kollektivbetriebe.pdf">Webseite der FAU Hamburg</a>.
  </p>
  <p>Aber auch Kollektivbetriebe müssen im kapitalistischen Umfeld erst
     einmal wirtschaftlich überleben. Darum lassen sich die beschriebenen
     Anforderungen oft nicht so einfach realisieren. Es ist aber wichtig,
     die grundlegende Ausrichtung unter dem Druck des Alltags nicht aus den
     Augen zu verlieren, sondern im Rahmen der jeweiligen Möglichkeiten
     weiter an ihrer Umsetzung zu arbeiten. Und am Erfolg dieser Bemühungen
     muss sich ein Kollektivbetrieb letztlich auch messen lassen.
  </p>
</div>
{% endblock %}

