{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h2>Einen Autor anlegen</h2>
    <form action="" method="post" class="col s12">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn usedit" type="submit">Speichern</button>
      <button class="btn" type="reset">Abbrechen</button>
    </form>
  </div>
</div>
{% endblock %}
