{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <title>Kollektivliste.org</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="https://kollektivliste.b-cdn.net{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="https://kollektivliste.b-cdn.net{% static 'css/custom-style.css' %}">
  </head>
  <body class="flex-wrapper">
    <header>
      <!-- Dropdown Structure -->
      <ul id="dropdown-editactions1" class="dropdown-content navbar-content">
      {% if user.is_staff %}
        <li><a class="dropdown-item" href="{% url 'add_user' %}">Autor eintragen</a></li>
        <li><a class="dropdown-item" href="{% url 'collective_new' %}">Kollektiv eintragen</a></li>
        <li class="divider"></li>
      {% endif %}
        <li><a class="dropdown-item" href="{% url 'offer_new' %}">Anzeige eintragen</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-item" href="{% url 'event_new' %}">Termin eintragen</a></li>
      </ul>
      <ul id="dropdown-useractions1" class="dropdown-content navbar-content">
        <li><a class="dropdown-item" href="{% url 'password_change' %}">Passwort ändern</a></li>
        <li class="divider"></li>
        <li><form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="dropdown-item" type="submit">logout</button>
          </form>
        </li>
      </ul>
      <!-- Nav from materialize, fixed by custom js to use only one tag for moble sidenav and desktop -->
      <nav class="blue-grey darken-1">
        <div class="container">
          <div class="nav-wrapper">
            <a href="{% url 'startseite' %}" class="brand-logo">Kollektivliste.org</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li class="{% if request.get_full_path == "/collective/list/" %}active{% endif %}">
                <a href="{% url 'collective_list' %}" title="Alle Kollektive filterbar nach Branche und Region">Kollektive</a>
              </li>
              <li class="{% if request.get_full_path == "/collective/map/" %}active{% endif %}">
                <a href="{% url 'collective_map' %}" title="Alle Kollektive auf einer Karte anzeigen">Karte</a>
              </li>
              <li class="{% if request.get_full_path == "/event/list/" %}active{% endif %}">
                <a href="{% url 'event_list' %}" title="Termine einzelner Kollektive oder übergreifender Veranstaltungen">Termine</a>
              </li>
              <li class="{% if request.get_full_path == "/offer/list/" %}active{% endif %}">
                <a href="{% url 'offer_list' %}" title="Angebote und Gesuche beteiligter Kollektive">Marktplatz</a>
              </li>
              <li class="{% if request.get_full_path == "/kontakt/" %}active{% endif %}">
                <a href="{% url 'kontakt' %}" title="Nimm Kontakt mit uns oder einem Kollektiv aus der Liste auf">Kontakt</a>
              </li>
              <li class="{% if request.get_full_path == "/newsletter/" %}active{% endif %}">
                <a href="{% url 'newsletter' %}" title="Abonniere den Newsletter um über alle Neuigkeiten rund um die Kollektive informiert zu bleiben">Newsletter</a>
              </li>
            <!-- Dropdown Trigger -->
            {% if user.is_authenticated %}
            {% with '/collective/new/ /offer/new/ /event/new/' as edit_list %}
              <li class="{% if request.get_full_path in edit_list.split or "update" in request.get_full_path %}active{% endif %}">
                <a id="editactions1" class="dropdown-button" href="#!" data-activates="dropdown-editactions1">
                  {{ ddval|default:"bearbeiten" }}
                  <i class="material-icons right">arrow_drop_down</i></a>
              </li>
            {% endwith %}
              <li class="{% if "password" or "logout" in request.get_full_path %} active{% endif %}">
                <a id="useractions1" class="dropdown-button" href="#!" data-activates="dropdown-useractions1">
                {% if request.get_full_path == "/accounts/password_change/" %}Profil{% else %}{{ user.email }}{% endif %}
                  <i class="material-icons right">arrow_drop_down</i></a>
              </li>
            {% else %}
              <li class="{% if "accounts" in request.get_full_path %} active{% endif %}">
                <form>
                  <a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a>
                </form>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="main-flex">
    {% block content %}
    {% endblock content %}
    </main>

    <footer class="page-footer blue-grey darken-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p><a href="{% url 'about' %}">Was ist das hier?</a><br>
            <a href="{% url 'links' %}">Links</a></p>
          </div>
          <div class="col l6 s12 right-align">
            <p><a href="{% url 'impressum' %}">Impressum / Datenschutzerklärung</a></p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              © 2020 >make Utopia_, 2024 Kollektiv der Kollektive (KdK)
            </div>
            <div class="col l6 s12 right-align">
              created by <a href="https://www.makeutopia.de/">>make Utopia_</a>,
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="https://kollektivliste.b-cdn.net{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="https://kollektivliste.b-cdn.net{% static 'js/materialize.min.js' %}"></script>
  <script src="https://kollektivliste.b-cdn.net{% static 'js/custom-scripts.js' %}"></script>
</html>
