{% extends 'base_full.html' %}
{% block content %}
<div class="hero-image">
  <h1 class="hero-headline white-text drop-shadow">Verzeichnis von Kollektivbetrieben</h1>
</div>
<div id="position-marker"></div>
<div id="filterbox">
  <div class="container">
    <div class="row filterrow">
      <form method="GET" class="col s12 m6" id="region-form">
        <div class="input-field col s12">
          <select name="region" id="region-select">
          {% if not selected_region %}
            <option value="" disabled selected>Filtere nach einem Bundesland:</option>
          {% else %}
            <option value="" disabled>Filtere nach einem Bundesland:</option>
          {% endif %}
	      {% for r in regions %}
            {% if r == selected_region %}
            <option value="{{ r }}" selected>{{ r }}</option>
            {% else %}
            <option value="{{ r }}">{{ r }}</option>
            {% endif %}
          {% endfor %}
          {% if selected_region == "keine" %}
            <option value="keine" selected>Keinem Bundesland zugeordnet</option>
          {% else %}
            <option value="keine">Keinem Bundesland zugeordnet</option>
          {% endif %}
            <option value="">Alle Bundesländer</option>
          </select>
        </div>
        <input type="hidden" name="branche" value="">
      </form>
      <form method="GET" class="col s12 m6" id="branch-form">
        <div class="input-field col s12">
          <select name="branche" id="branch-select">
          {% if not selected_business %}
            <option value="" disabled selected>Filtere nach einer Branche:</option>
          {% else %}
            <option value="" disabled>Filtere nach einer Branche:</option>
          {% endif %}
            <option value="">Alle Branchen</option>
	      {% for b in branches %}
            {% if b.pk == selected_business %}
            <option value="{{ b.pk }}" selected>{{ b }}</option>
            {% else %}
            <option value="{{ b.pk }}">{{ b }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </div>
        <input type="hidden" name="region" value="">
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  {% for collective in object_list %}
    <div class="col s12 card">
    {% if not collective.public %}<div class="unpublished-collective center-align"><i class="material-icons">hourglass_empty</i>Noch nicht veröffentlicht</div>{% endif %} 
	  <div class="row">
	    <div class="col s12 m3 l2 card-logo center-align">
	    {% if collective.logo %}
	      <img src="https://kollektivliste.b-cdn.net{{ collective.logo.url }}">
	    {% endif %}  
		</div>
		<div class="col s12 m9 l10 card-content">
          <div class="card-header">
            <h2>{{ collective.name }}</h2>
	        {% if collective.business %}
            <h3 class="branche-alle"><i class="material-icons">account_balance</i> {{ collective.business }}
            {% if collective.city %}, {{ collective.postal_code }} {{ collective.city }}{% endif %}
            </h3>
            {% endif %}
		  </div>
		  <div class="card-body">
		    <p class="card-title">{{ collective.title }}</p>
		    <p>
			  {{ collective.description|safe|truncatechars_html:"250"|linebreaks }}
			</p>
		  </div>
		</div>
	  </div>

	  <div class="row">
		<div class="col s12">
	      <div class="card-action center-align">
		    <a href="{% url 'collective_detail' collective.pk %}"> mehr lesen</a>
		  </div>
		</div>
	  </div>

	</div>
  {% endfor %}
  {% if not object_list %}
  <div class="col s12 card no-content-box white-text">
    <h3>Keine Kollektivbetriebe zu deiner Filteranfrage gefunden!</h3>
  </div>
  {% endif %}
  </div>
</div>
{% endblock content %}
