{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <h2>Ein Kollektiv anlegen</h2>
    <form action="" method="post" class="col s12">
      {% csrf_token %}
      {{ form.media }}
      {{ form|crispy }}
      <button class="btn usedit" type="submit">Speichern</button>
      <button class="btn" type="reset">Zurücksetzen</button>
      <a href="{% url 'collective_list' %}" class="btn">Abbrechen</a>
    </form>
  </div>
</div>
{% endblock %}
