{% extends 'base.html' %}

{% block content %}
<div id="update-collective" class="container">
  <div class="row">
    {% if form.errors %}
    <div class="card-panel red lighten-2">Das Formular konnte nicht gespeichert werden! Siehe Hinweise über den fehlerhaften Feldern.</div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data" {% if collective.public %}  class="col s12 published" {% else %} class="col s12" {% endif %}>
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <div><h3>Adressen:</h3></div>
      {{ addresses_form.management_form }}
      {% for addr in addresses_form %}
        <div class="addressform formset_row">
        {{ addr.as_p }}
        </div>
      {% endfor %}
      <p class="form-full-width">
        <button class="btn usedit" type="submit">Speichern</button>
        <button class="btn" type="reset">Zurücksetzen</button>
        <a href="{% url 'collective_detail' collective.pk %}" class="btn">Abbrechen</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
