{% extends 'base_full.html' %}
{% block content %}

{% if not collective.public %}
<div class="unpublished-collective center-align"><i class="material-icons">hourglass_empty</i>Noch nicht veröffentlicht</div>
{% endif %}
<div class="hero-single-image">
  <style>
    {% if collective.bgpic %}
    .hero-single-image{
      background-image: url(https://kollektivliste.b-cdn.net{{ collective.bgpic.url }});
      min-height: 500px;
    }
    @media screen and (max-width: 867px) {
      .hero-single-image {
        min-height: 400px;
      }
    }
    @media screen and (max-width: 600px) {
      .hero-single-image {
        min-height: 360px;
      }
    }
    {% else %}
    .hero-single-image {
      min-height: 0;
    }
    {% endif %} 
  </style>
  <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          {% if collective.logo %}
          <div class="single-logo">
             <img src="https://kollektivliste.b-cdn.net{{ collective.logo.url }}">        
          </div>
          {% endif %} 
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h1>{{ collective.name }}</h1>
      <h3>{{ collective.title }}</h3>
      {% if business != "" %}
      <h3 class="branche-alle"><i class="material-icons">account_balance</i> {{ business }}
      {% for addr in adresses %}<br />{{ addr.postal_code }} {{ addr.city }}{% endfor %}
      </h3>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col s12 override-material browser-default">
      <p>{{ collective.description|safe }}</p>
    </div>
  </div>

  {% if collective.events.exists or collective.offers.exists %}
  <div class="row">
    <div class="col s12">
      <div id="info-card" class="card hoverable">
        <div class="card-panel {{ request.app_config.bg_color }} white-text">
          <div class="card-title">aktuelle Veranstaltungen und Gesuche/Angebote</div>
        </div>
        <div class="card-content">
          {% for event in collective.events.values %}
          <p>{{ event.start_date }}, {{ event.start_time }}: {{ event.title }}. <a href="{% url 'event_list' %}#{{ event.id }}" class="blue-text">Mehr Infos ...</a></p>
          {% endfor %}
          <br>
          {% for offer in collective.offers.values %}
          <p>{{ offer.sort }}: {{ offer.title }}. <a href="{% url 'offer_detail' offer.id %}" class="blue-text">Mehr Infos ...</a></p>
          {% endfor %}
          <br>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col s12 m6">
      <div id="info-card" class="card hoverable">
        <div class="card-panel {{ request.app_config.bg_color }} white-text">
          <div class="card-title">Infobox</div>
        </div>
        <div class="card-content">
          <strong>{{ collective.name }}</strong><br>
          {% for addr in adresses %}
          {{ addr.address }} <br>
          {{ addr.postal_code }} {{ addr.city }} <br>
          <br>
          {% endfor %}
          {{ collective.website }} <br>
          {{ collective.email }} <br>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s4">
              <a href="{{ collective.website }}" target="_blank" class="blue-text">Webseite</a>
            </div>
            <div class="col s4">
              <a href="mailto:{{ collective.email }}" class="blue-text">E-Mail</a>
            </div>
            <div class="col s4">
              <a href="{% url 'kontakt' %}?rec={{ collective.email|urlencode }}" class="blue-text">Kontakt</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if adresses|length > 0 %}
    <div class="col s12 m6">
      <div id="environ-map" class="card-panel hoverable map-box" style="min-height:300px;"></div>
      <script>
        const copy = "&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a>";
        const url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        const layer = L.tileLayer(url, {
          attribution: copy,
        });
        const map = L.map("environ-map", {
          layers: [layer],
        });
        let markers = L.featureGroup([
          {% for addr in adresses %}
          L.marker([ {{ addr.lat|stringformat:".6f" }}, {{ addr.lon|stringformat:".6f" }} ]),
          {% endfor %}
        ]).addTo(map);
        map.fitBounds(markers.getBounds(), {
          padding: [100, 100],
        }); 
      </script>
    </div>
    {% endif %}
  </div>
  <div class="row">
    {% if checked is not None %}
      <div class="col s12 m6">
      <div id="info-card" class="card hoverable">
        <div class="card-panel {{ request.app_config.bg_color }} white-text">
          <div class="card-title">Status: {{ checked.result }}</div>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s12">
      <p>Letzte Prüfung: {{ checked.checktime }}<br />
      {% if user.is_authenticated and user.is_staff or user in collective.authors.all %}
      Prüfer: {{ checked.checker }}
      {% endif %}<br /></p>
            </div>
          </div>
        </div>
      </div>
      </div>
    {% endif %}
    {% if kdkMember is not None and kdkMember.till is None %}
      <div class="col s12 m6">
      <div id="info-card" class="card hoverable">
        <div class="card-panel {{ request.app_config.bg_color }} white-text">
          <div class="card-title">KdK Mitglied</div>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s12">
          seit {{ kdkMember.since }}<br />
            </div>
          </div>
        </div>
      </div>
      </div>
    {% endif %}
  </div>
  <div class="row">
    {% if user.is_authenticated and user.is_staff or user in collective.authors.all %}
    <div class="col s12 right-align">
      {% if user.is_staff %}
      <a class="btn uscheck" href="{% url 'collective_check' collective.pk %}" role="button">Eintrag prüfen</a>
      {% endif %}
      <a class="btn usedit" href="{% url 'collective_update' collective.pk %}" role="button">Eintrag bearbeiten</a>
      <a class="btn usedanger" href="{% url 'collective_delete' collective.pk %}">Eintrag löschen</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
