{% extends 'base_full.html' %}

{% block content %}
<div class="hero-image">
  <h1 class="hero-headline white-text drop-shadow">Verzeichnis von Kollektivbetrieben</h1>
</div>
<div class="container">
  <h2>Nimm Kontakt mit {{ name }} auf</h2>
  {% if name == "uns" %}
  <ul>
    <li>... wenn du mit anderen gemeinsam einen Kollektivbetrieb gründen willst und ihr Beratung und Unterstützung bekommen wollt.</li>
    <li>... wenn du bei einem Kollektivbetrieb mitmachst und ihn in die Liste eintragen willst.</li>
    <li>... wenn du einen Kollektivbetrieb kennst, der noch nicht in die Liste eingetragen ist.</li>
  </ul>
  {% endif %}
  <div class="row">
    <div class="col s8 offset-s2">
      {% if success is True %}
      <div class="card-panel teal lighten-2">Deine Kontaktanfrage wurde erfolgreich versendet. Wir werden uns bei dir zurück melden.</div>
      {% elif success is False %}
      <div class="card-panel red lighten-2">Beim Versenden deiner Anfrage ist ein Fehler aufgetreten. Die Nachricht konnte nicht versendet werden!.</div>
      {% endif %}
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form }}
        <button class="btn waves-effect waves-light" type="submit" name="submit">Senden
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

