{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <form action="" class="col s12" method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form|crispy }}
      <button class="btn usedit" type="submit">Speichern</button>
      <button class="btn" type="reset">Zurücksetzen</button>
      <a href="{% url 'event_list' %}" class="btn">Abbrechen</a>
    </form>
  </div>
</div>
{% endblock %}
