{% extends 'base_full.html' %}
{% block content %}
<div class="hero-image">
  <h1 class="hero-headline white-text drop-shadow">Veranstaltungskalender</h1>
</div>
<div class="container">
  <div class="row">
  {% if object_list %}
  {% for event in object_list %}
    <div id="{{ event.id }}" class="col s12">
      <div class="card hoverable">
        <div class="card-panel {{ request.app_config.bg_color }} white-text">
          <div class="card-title">{{ event.start_date|date:'d.m.Y' }}, {{ event.city }}: {{ event.title }}</div>
        </div>
        <div class="card-content">
          <p>
            {{ event.description|safe }}
          </p>
          <br>
          <p>
            <strong>Ort:</strong> {{ event.center_name }}, {{ event.address }}, {{ event.postal_code }} {{ event.city }}<br>
            <strong>Zeit:</strong> {{ event.start_date }}, {{ event.start_time|default_if_none:"" }}
          </p>
          {% if event.collective %}
          <p>
            <strong>Veranstaltendes Kollektiv:</strong> <a href="{% url 'collective_detail' event.collective.pk %}" class="related_collective">{{ event.collective.name }}</a>
          </p>
          {% endif %}
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s6">
              <a href="{{ event.website }}">Webseite</a>
            </div>
            <div class="col s6">
              <a href="{{ event.social_media_site }}">Social Media Site</a>
            </div>
          </div>
        </div>
        <div class="card-content">
          {% if perms.events.change_event or user == event.author %}
          <div class="right-align">
            <a class="btn usedit" href="{% url 'event_update' event.pk %}" role="button">Eintrag bearbeiten</a>
            <a class="btn usedanger" href="{% url 'event_delete' event.pk %}">Eintrag löschen</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  {% else %}
    <div class="col s12 card no-content-box white-text">
      <h3>Momentan sind keine Veranstaltungen vorhanden.</h3>
    </div>
  {% endif %}
  </div>
</div>
{% endblock content %}
