{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <h2>Eine Veranstaltung anlegen</h2>
    <p>
      Auf dieser Seite kannst du einen Termin (eine Veranstaltung) anlegen.
      Du kannst entweder einen Termin für dein Kollektiv oder eine davon
      unabhängige Veranstaltung anlegen. Die Veranstaltung sollte allerdings
      entweder organisatorisch oder thematisch etwas mit Kollektivbetrieben
      zu tun haben. Wenn dein Termin zu deinem Kollektiv gehört, dann wähle
      unten einfach dein Kollektiv aus. Weitere Angaben brauchst du dann nur
      noch zu machen, wenn sie sich von denen deines Kollektivs unterscheiden.
    </p>
    <p>
      Termine werden ausschließlich in der Listenansicht angezeigt und haben
      keine eigene Detailseite. Sie werden so lange angezeigt, bis sie
      stattgefunden haben.
    </p>
    <form action="" method="post" class="col s12">
      {% csrf_token %}
      {{ form.media }}
      {{ form|crispy }}
      <button class="btn usedit" type="submit">Speichern</button>
      <button class="btn" type="reset">Zurücksetzen</button>
      <a href="{% url 'event_list' %}" class="btn">Abbrechen</a>
    </form>
  </div>
</div>
{% endblock %}
