{% extends 'base_full.html' %}
{% block content %}
<div class="hero-image">
  <h1 class="hero-headline white-text drop-shadow" data-cy="main-headline">Alles rund um Kollektivbetriebe</h1>
</div>
<div id="position-marker"></div>
<div class="container">
  <div class="row">
  {% if events %}
    <div class="col s12">
      <div class="card hoverable" data-cy="events-card">
        <div class="card-panel red darken-2 white-text">
          <div class="card-title">Termine (eine Auswahl) <span class="right"><a href="{% url 'event_list' %}" class="btn white">Alle Termine</a><span></div>
        </div>
        <div class="card-content">
        {% for event in events %}
          <div class="row">
            <div id="{{ event.id }}" class="col s12 card">
              <p class="card-title">
                {{ event.start_date|date:'d.m.Y' }}, {{ event.city }}: {{ event.title }}
              </p>
              <p>
                {{ event.description|safe }}
              </p>
              <br>
              <p>
                <strong>Ort:</strong> {{ event.center_name }}, {{ event.address }}, {{ event.postal_code }} {{ event.city }}<br>
                <strong>Zeit:</strong> {{ event.start_date }}, {{ event.start_time|default_if_none:"" }}
              </p>
              {% if event.collective %}
              <p>
                <strong>Veranstaltendes Kollektiv: </strong>
                <a href="{% url 'collective_detail' event.collective.pk %}"
                   class="related_collective">{{ event.collective.name }}</a>
              </p>
              {% endif %}
              <div class="card-action">
                <div class="row">
                  <div class="col s6">
                    <a href="{{ event.website }}">Webseite</a>
                  </div>
                  <div class="col s6">
                    <a href="{{ event.social_media_site }}">Social Media Site</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
	    <div class="card-action center-align">
          <a href="{% url 'event_list' %}" class="btn red darken-2 white-text">Übersicht aller Termine</a>
        </div>
      </div>
    </div>
  {% endif %}
  </div>
  <div class="row">
  {% if object_list %}
    <div class="col s12">
      <div class="card hoverable" data-cy="collectives-card">
        <div class="card-panel blue-grey darken-1 white-text">
          <div class="card-title">Kollektive (eine Auswahl) <span class="right"><a href="{% url 'collective_list' %}" class="btn white">Alle Kollektive</a><span></div>
        </div>
        <div class="card-content">
        {% for collective in object_list %}
          <div class="row">
            <div id="{{ collective.id }}" class="col s12 card">
              <h2>{{ collective.name }}</h2>
	          {% if collective.business %}
              <h3 class="branche-alle"><i class="material-icons">account_balance</i> {{ collective.business }}
              {% if collective.city %}, {{ collective.postal_code }} {{ collective.city }}{% endif %}
              </h3>
              {% endif %}
              <p class="card-title">{{ collective.title }}</p>
              <p>
                {{ collective.description|safe|truncatechars_html:"250"|linebreaks }}
              </p>
	          <div class="card-action center-align">
		        <a href="{% url 'collective_detail' collective.pk %}"> mehr lesen</a>
		      </div>
		    </div>
		  </div>
        {% endfor %}
    	</div>
	    <div class="card-action center-align">
          <a href="{% url 'collective_list' %}" class="btn blue-grey darken-1 white-text">Liste mit allen Kollektivbetrieben</a>
        </div>
	  </div>
	</div>
  {% endif %}
  </div>
  <div class="row">
  {% if offers %}
    <div class="col s12">
      <div class="card hoverable" data-cy="offers-card">
        <div class="card-panel indigo darken-4 white-text">
          <div class="card-title">Marktplatz (eine Auswahl) <span class="right"><a href="{% url 'offer_list' %}" class="btn white">Zum Marktplatz</a><span></div>
        </div>
        <div class="card-content">
        {% for offer in offers %}
          <div class="row">
            <div id="{{ offer.id }}" class="col s12 card">
              <h2>{{ offer.title }}</h2>
              <p>
                {{ offer.description|safe|truncatechars_html:"250"|linebreaks }}
              </p>
              <p>
              {% if offer.collective %}
              <p>
                <strong>Anbietendes Kollektiv: </strong>
                <a href="{% url 'collective_detail' offer.collective.pk %}"
                   class="related_collective">{{ offer.collective.name }}</a>
              </p>
              {% endif %}
	          <div class="card-action center-align">
		        <a href="{% url 'offer_detail' offer.pk %}"> mehr lesen</a>
		      </div>
            </div>
          </div>
        {% endfor %}
        </div>
	    <div class="card-action center-align">
          <a href="{% url 'offer_list' %}" class="btn indigo darken-4 white-text">Alle Angebote und Gesuche</a>
        </div>
      </div>
    </div>
  {% endif %}
  </div>
</div>
{% endblock content %}
