{% extends 'base.html' %}

{% block content %}
<div class="hero-image">
  <h1 class="hero-headline white-text drop-shadow">Verzeichnis von Kollektivbetrieben</h1>
</div>
<div class="container">
  <h3>Andere Übersichten, Informationen und Netzwerke zu Kollektivbetrieben</h3>
  <p>
    <ul>
      <li><a href="https://www.kdk.coop/">Kollektiv der Kollektive</a> - Branchenübergreifender Verband für Kollektivbetriebe und kollektives Wirtschaften</li>
      <li><a href="https://tech-coops.de/">tech-coops</a> - ein Netzwerk kollektiver IT-Betriebe.</li>
      <li><a href="https://www.kollektiv-betriebe.org/">Liste Berliner Kollektiv-Betriebe</a></li>
      <li><a href="https://www.union-coop.org/">Union coop</a> Föderation gewerkschaftlicher Kollektivbetriebe</li>
      <li><a href="https://kasseler-kollektive.org/">Liste Kasseler Kollektive</a></li>
      <li><a href="https://www.initiative-wow.de/">Initiative wow</a> worker owned workplaces</li>
    </ul>
  </p>
</div>
{% endblock %}

