{% extends 'base_full.html' %}
{% block content %}
<div class="hero-image">
  <h1 class="hero-headline white-text drop-shadow">Karte von Kollektivbetrieben</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m12 card">
      <div id="collective-map" class="card-panel hoverable map-box" style="height:80vh;"></div>
      <style>
.marker-pin {
  width: 32px;
  height: 32px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -16px 0 0 -16px;
}
.marker-pin::after {
  content: '';
  width: 26px;
  height: 26px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
 }
.marker-letter {
  position: absolute;
  width: 26px;
  height: 26px;
  font-size: 26px;
  left: 0;
  right: 0;
  margin: 4px auto;
  text-align: center;
  border-radius: 50%;
}
.custom-div-icon img {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  right: 0;
  margin: 10px auto;
  border-radius: 50%;
  object-fit: contain;
}
      </style>
      <script>
        const copy = "&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a>";
        const url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        const layer = L.tileLayer(url, {
          attribution: copy,
        });
        const map = L.map("collective-map", {
          layers: [layer],
        });
        let feature;
        $.getJSON('/collective/osm_api/', function(data) {
          feature = L.geoJSON(data, {pointToLayer: function(geoJsonPoint, latlng) {
            let style = "background: #2B82CB";
            if (geoJsonPoint.properties.kdksince) {
              style = "background: #c30b82";
            }
            let icon = L.divIcon({
                className: 'custom-div-icon',
                html: "<div class='marker-pin' style='"+style+"'></div><div class='marker-letter'>" + Array.from(geoJsonPoint.properties.name)[0] + "</div>",
                iconSize: [32, 45],
                iconAnchor: [16, 45]
            });
            if (geoJsonPoint.properties.logo) {
              icon = L.divIcon({
                  className: 'custom-div-icon',
                  html: "<div class='marker-pin' style='"+style+"'></div><img src='https://kollektivliste.b-cdn.net"+ geoJsonPoint.properties.logo + "' />",
                  iconSize: [32, 45],
                  iconAnchor: [16, 45]
              });
            }
            return L.marker(latlng, {icon});
          }}).bindPopup(function (layer) {
              let pre = "";
              let post = "";
              if (layer.feature.properties.logo) {
                pre = '<div style="display:flex;align-items:center;gap:0.5em"><img src="https://kollektivliste.b-cdn.net' + layer.feature.properties.logo + '" alt="Logo" style="max-width: 33%;max-height:8em;" /><div>'
                post = '</div></div>'
              }
              let kdk = '';
              if (layer.feature.properties.kdksince) {
                let since = new Date(layer.feature.properties.kdksince)
                kdk = '<p>Mitglied im <a href="https://kdk.coop">Kollektiv-Verband</a> seit ' + since.toLocaleDateString('de-DE') + '</p>';
              }
              return pre +
                '<h3>' + layer.feature.properties.name + '</h3>' +
                post +
                '<strong>Branche: ' + layer.feature.properties.business + '</strong>' +
                '<p>' + layer.feature.properties.description + '</p>' +
                '<p>' + layer.feature.properties.address + '<br />' +
                layer.feature.properties.zip + ' ' + layer.feature.properties.city + '</p>' +
                kdk +
                '<div class="row">'+
                  '<div class="col s4"><a href="/collective/' + layer.feature.properties.id + '/">Profil</a></div>' +
                  '<div class="col s4"><a href="' + layer.feature.properties.website + '">Homepage</a></div>'+
                  '<div class="col s4"><a href="mailto:' + layer.feature.properties.email + '">Email</a></div>'+
                '</div>'; 
            }, {minWidth: 260})
            .addTo(map);
          map.fitBounds(feature.getBounds(), {
            padding: [100, 100],
          });
        });
      </script>
    </div>
  </div>
</div>
{% endblock content %}
