{% extends 'base_full.html' %}

{% block content %}
<div class="hero-image">
  <h1 class="hero-headline white-text drop-shadow">Verzeichnis von Kollektivbetrieben</h1>
</div>
<div class="container">
  <h2>Abonniere unseren Newsletter</h2>
  <ul>
    <li>... wenn du über neue Kollektive in der Liste informiert werden willst.</li>
    <li>... wenn du über neue Angebote und Gesuche informiert werden willst.</li>
    <li>... wenn du über kommende Termine einzelner Kollektive oder übergreifende Veranstaltungen informiert werden willst.</li>
  </ul>
  <div class="row">
    <div class="col s8 offset-s2">
      {% if success is True %}
      <div class="card-panel teal lighten-2">Vielen Dank, dass du unseren Newsletter bestellt hast.
        Du wirst nun regelmäßig über Neuigkeiten rund um Kollektivbetriebe informiert.
        Informationen über die Abmeldung vom Newsletter findest du in der Newsletter Willkommensmail, die du bald erhalten wirst.
      </div>
      {% elif success is False %}
      <div class="card-panel red lighten-2">Beim Versenden deiner Anfrage ist ein Fehler aufgetreten. Der Newsletter konnte nicht abonniert werden!</div>
      {% endif %}
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form }}
        <button class="btn waves-effect waves-light" type="submit" name="submit">Senden
          <i class="material-icons right">send</i>
        </button>
      </form>
      <p>Deine mit Absenden dieses Formulars gesendeten personenbezogenen Daten werden nur
zum Zweck des Versendens des Newsletters von uns gespeichert und verarbeitet.
Die Speicherung und Verarbeitung deiner personenbezogenen Daten erfolgt dabei gemäß unserer
<a href="{% url 'impressum' %}">Datenschutzerklärung</a>.</p>
    </div>
  </div>
</div>
{% endblock %}

