{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <h2>Dein {{ object.sort }} aktualisieren</h2>
    <p>
      Angebote und Gesuche werden 6 Wochen lang angezeigt. Wenn du an deiner 
      Anzeige nichts weiter ändern willst, dann kannst du einfach unten auf 
      dem Speichern Button klicken, dann verlängert sich diese Frist um weitere 
      6 Wochen. Falls deine Anzeige zwischenzeitlich nicht mehr angezeigt wurde,
      dann kannst du ebenfalls mit einem Klick auf den Speichern Button deine 
      Anzeige wieder veröffentlichen. 3 Monate nach der letzten Aktualisierung 
      wird die Anzeige endgültig gelöscht. Willst du die Anzeige vorzeitig oder 
      zwischenzeitlich beenden, dann klicke einfach auf den Löschen Button.
    </p>
    <form action="" class="col s12" method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form|crispy }}
      <button class="btn usedit" type="submit">Speichern</button>
      <button class="btn" type="reset">Zurücksetzen</button>
      <a href="{% url 'offer_detail' object.pk %}" class="btn">Abbrechen</a>
    </form>
  </div>
</div>
{% endblock %}
