{% extends 'base_full.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>{{ offer.sort }}: {{ offer.title }}</h2>
      <p>{{ offer.description|safe }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div id="info-card" class="card hoverable">
        <div class="card-panel {{ request.app_config.bg_color }} white-text">
          <div class="card-title">Kontakt zum {{ offer.sort }}</div>
        </div>
        <div class="card-content">
          {% if offer.collective %}
            <strong>{{ offer.collective.name }}</strong><br>
          {% else %}
            <strong>{{ offer.provider }}</strong><br>
          {% endif %}
            {{ offer.address }} <br>
          {{ offer.postal_code }} {{ offer.city }} <br>
          <br>
          {{ offer.website }} <br>
          {{ offer.email }} <br>
        </div>
        <br>
      </div>
    </div>
    {% if offer.lat %}
    <div class="col s12 m6">
      <div id="environ-map" class="card-panel hoverable map-box" style="height:300px;"></div>
      <script>
        var envmap = L.map('environ-map').setView([{{ offer.lat }}, {{ offer.lon }}], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
          maxZoom: 15,
          minZoom: 11,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(envmap);
        var marker = L.marker([{{ offer.lat }}, {{ offer.lon }}]).addTo(envmap);
      </script>
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card hoverable">
        <div class="card-panel {{ request.app_config.bg_color }} white-text">
          <div class="card-title">Sende eine Nachricht</div>
        </div>
        {% if result == "success" %}
        <div class="card-content" style="padding-bottom:20px;">
          <div class="teal lighten-2" style="padding:10px;">
            Deine Anfrage wurde erfolgreich versendet. Du wirst bald eine Rückmeldung erhalten.
          </div>
        </div>
        {% else %}
        <div class="card-content">
          <form id="offer-request" method="post" novalidate>
            {% csrf_token %}
            {{ form }}
        </div>
        <div class="card-action">
            <button class="btn waves-effect waves-light" type="submit" name="submit" for="offer-request">Senden
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    {% if perms.offers.add_offer %}
    Author*in der Anzeige: {{ offer.author }}
    {% endif %}
    {% if user.is_authenticated and user.is_staff or user == offer.author %}
    <div class="col s12 right-align">
      <a class="btn usedit" href="{% url 'offer_update' offer.pk %}" target="_blank" role="button">bearbeiten</a>
      <a class="btn usedanger" href="{% url 'offer_delete' offer.pk %}">löschen</a>
    </div>
    {% endif %}
  </div>

</div>

{% endblock content %}
