{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Angebot löschen</h1>
    <form action="" method="post">
      {% csrf_token %}
      <p>Willst du wirklich den Eintrag für das Angebot "{{ offer.name }}" löschen?</p>
      <button class="btn usedanger" type="submit">Ja, ich will den Eintrag löschen.</button>
      <a href="{% url 'offer_list' %}" class="btn"
          type="button">Abbrechen</a>
    </form>
  </div>
</div>
{% endblock %}
