{% extends 'base_full.html' %}
{% block content %}
<div class="hero-image">
  <h1 class="hero-headline white-text drop-shadow">Angebote und Gesuche</h1>
</div>
<div class="container">
  <div class="row">
  {% if object_list %}
  {% for offer in object_list %}
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-panel {{ request.app_config.bg_color }} white-text">
          <div class="card-title">{{ offer.title }}</div>
        </div>
        <div class="card-content">
          <p>
            {{ offer.description|safe|truncatechars_html:"250" }}
          </p>
        </div>
        <div class="card-action center-align">
          <a href="{% url 'offer_detail' offer.pk %}"> mehr lesen</a></p>
        </div>
	  </div>
    </div>
  {% endfor %}
  {% else %}
    <div class="col s12 card no-content-box white-text">
      <h3>Momentan sind keine Angebote und Gesuche vorhanden.</h3>
    </div>
  {% endif %}
  </div>
</div>
{% endblock content %}
