{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <h2>Ein Angebot oder Gesuch anlegen</h2>
    <p>
      Auf dieser Seite kannst du eine Anzeige anlegen. Lege unbedingt fest, 
      ob deine Anzeige ein Angebot oder ein Gesuch ist. Du kannst deine 
      Anzeige deinem Kollektiv zuordnen. Falls dein Angebot oder dein Gesuch 
      nicht zu deinem Kollektiv gehört, kannst du einen anderen Anbieter und 
      dessen Kontaktdaten angeben.
    </p>
    <p>
      Angebote und Gesuche werden 6 Wochen lang angezeigt. Eine Woche vor Ablauf 
      der Frist bekommst du eine E-Mail über das kommende Ende der Anzeige. Wenn 
      du auf die Bearbeiten Seite der Anzeige gehst und dort auf den Aktualisieren 
      Button klickst, dann verlängert sich diese Frist um weitere 6 Wochen. 
      Wenn die Frist nicht verlängert wird, dann wird die Anzeige nach 6 Wochen
      nicht mehr angezeigt. Die Anzeige ist aber noch in der Datenbank vorhanden 
      und kann durch die Aktualisierung auf der Bearbeiten Seite wieder 
      veröffentlicht werden. 3 Monate nach der letzten Aktualisierung wird die 
      Anzeige endgültig gelöscht. Willst du die Anzeige vorzeitig oder 
      zwischenzeitlich beenden, dann einfach auf den Löschen Button klicken.
    </p>
    <form action="" method="post" class="col s12">
      {% csrf_token %}
      {{ form.media }}
      {{ form|crispy }}
      <button class="btn usedit" type="submit">Speichern</button>
      <button class="btn" type="reset">Zurücksetzen</button>
      <a href="{% url 'offer_list' %}" class="btn">Abbrechen</a>
    </form>
  </div>
</div>
{% endblock %}
